<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block head_title %}{% endblock %}</title>

{% load staticfiles %}
{% block scripts %}{% endblock %}
{% block extra_head %}
<link href="{% static 'rj2/css/style.css' %}" rel="stylesheet" type="text/css"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{% endblock %}
</head>
<body>
{% block body %}
	<!---header--->
    <div class="header">
        <div class="logo">
		<a href="{% url 'rj2_homepage' %}"><img src="{% static 'rj2/images/logo.png' %}" alt=""/></a>
        </div>
		{% if user.is_authenticated %}
        <div class="signin">
            <ul>
		    <li class="b"><a href="{% url 'account_logout' %}">Signout</a></li>
                <li class="a"><h6>or</h6></li>
		        <li><a href="{% url 'account_email' %}">Hello, {{ user }}</a></li>
                <div class="clear"></div>
            </ul>
        </div>
		{% else %}
		<div class="signin">
        <ul>
	            <li class="b"><a href="{% url 'account_signup' %}">Signup</a></li>
				<li class="a"><h6>or</h6></li>
				<li><a href="{% url 'account_login' %}">Signin</a></li>
				<div class="clear"> </div>
			</ul>
		</div>
		{% endif %}
        <ul id="sddm">
		<li><a href="{% url 'rj2_homepage' %}">Home</a>
            </li>
			{% if not user.is_admin and not user.is_content_manager %}
            <li><a href="{% url 'course_list' %}">Courses</a>
            </li>
			{% endif %}
            <li><a href="{% url 'rj2_aboutus' %}">About us</a>
            </li>
        </ul>
        <div class="clear"> </div>
    </div>
<!-- start top_bg. -->
{% if user.is_authenticated %}
{% if user.is_admin or user.is_content_manager %}
<div class="top_bg">
    <div class="main_top">
	<h4 class="style">Administrate system</h4>
    <ul class="subneg">
        <li><a href="{% url 'account_email' %}">Manage account</a>
        </li>
	<li>{% if user.is_admin %}<a href="{% url 'add_course' %}">{% elif user.is_content_manager %}<a href="{% url 'add_course' %}">{% else %} <a href="404">{% endif %}Add course</a>
        </li>
        <li>{% if user.is_admin %}<a href="{% url 'manage_courses' %}">{% elif user.is_content_manager %}<a href="{% url 'manage_courses' %}">{% else %} <a href="404">{% endif %}Manage Course</a>
        </li>
    </ul>
</div>
</div>
{% else %}
<div class="top_bg">
    <div class="main_top">
        <h4 class="style">Manage your account</h4>
        <ul class="subneg">
            <li><a href="{% url 'account_email' %}">Manage Account</a>
            </li>
            <li><a href="{% url 'course_list' %}">Register For Course</a>
                </li>
            <li><a href="{% url 'registered_courses' %}">My Courses</a>
                </li>
        </ul>
    </div>
</div>
{% endif %}
{% else %}
<div class="top_bg">
    <div class="main_top">
        <h4 class="style">&nbsp;</h4>
    </div>
</div>
{% endif %}
<!-- start main -->
{% block content %}
{% endblock %}
{% endblock %}
	<div class="clear"></div>
</div>
</div>
</body>
</html>
