<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends "rj2/base.html" %}
{% load staticfiles %}
{% block head_title %}About{% endblock %}
{% block content %}
<div class="footer-top">
<div class="wrap">
	<div class="left">
        <h3>About Us</h3>
        <p>Justin Perez (Team Leader) - Email: justin-perez@uiowa.edu </p>
        <p>Joseph Kirkpatrick (Team Member) - Email: joseph-kirkpatrick@uiowa.edu</p>
        <p>Runjin Wang (Team Member) - Email: runjin-wang@uiowa.edu</p>
   </div>
   <div class="right">
	   <img src="{% static 'rj2/images/a.jpg' %}" alt="">
   </div>
   <div class="clear"> </div>
   <p>Brief Introduction here</p>
   <div class="clear"> </div>
   {% endblock %}
</div>
</div>

</body>
</html>
