<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends "rj2/base.html" %}
{% block head_title %}Home{% endblock %}
{% block content %}

<!-- start main -->
<script   language="javascript">
    var count= 0 ;
    function addQuiz() {
        var newDiv =  "<div id=divUpload" + count +">"
        + " <ul id=question" + count + " name=upload> Question: "
        + "<input type=text name=upload>"
        + " <a href=javascript:delUpload('divUpload" + count + "');>Delete</a>"
        + "<li id = A" + count + ">Correct Answer:"+ "<input type=text></li>"
        + "<li id = B" + count + ">Wrong Answer: </li>" + "<input type=text></li>"
        + "<li id = C" + count + ">Wrong Answer: </li>" + "<input type=text></li>"
        + "<li id = D" + count + ">Wrong Answer: </li>" + "<input type=text></li>"
        + " </ul></div>";
        count++;
        document.getElementById("uploadQuiz").insertAdjacentHTML("beforeEnd", newDiv);
    }

    function delUpload(diva) {
        count--;
        document.getElementById(diva).parentNode.removeChild(document.getElementById(diva));
    }

</script>

<div class="main_bg">
<div class="main">
	<div class="edit_center">
		<h3>Add Quiz</h3>
		<p>Create quiz below.</p>
	<!-- start registration -->
	<div class="registration">
	<div class="registration_left">
		 <div class="registration_form">
		 <!-- Form -->
			<form id="registration_form" action="" method="post">
                <div>
                    <label>
                        <a href="javascript:addQuiz()">Add Quiz</a>
                        <div id="uploadQuiz">
                        </div>
                    </label>
                </div>
                <div class="forget">
                    <a href="editCourse.html">back</a>
                </div>
				<div>
					<input type="submit" value="Save" id="save-submit">
				</div>

			</form>
			<!-- /Form -->
		</div>
	</div>
	</div>
	<!-- end registration -->
	</div>
	
	<div class="clear"></div>
</div>
</div>
{% endblock %}
