{% extends "rj2/base.html" %}
{% block head_title %}Answer List{% endblock %}
{% block content %}

<div class="edit_center">
    <h3>Answer List For {{ question.text }}</h3>
    <div class="registration">
        <div class="registration_left">
            <div class="registration_form">
		    {% for answer in object_list %}
            <div class="forget">
            <a href="{% url 'edit_answer' answer.pk %}">
			    {{ answer.text }}
            </a>
            </div>
		{% endfor %}
	</ul>

	<br />
	<div class="forget">Go back to edit question:<a href="{% url 'edit_question' question.pk %}"> {{ question.text }} </a>
    <div/>
    <div class="forget">
        <a href="{% url 'add_answer' question.pk %}">Add New Answer </a>
    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
