{% extends "rj2/base.html" %}
{% block head_title %}Add/Edit Answer{% endblock %}
{% block content %}

<div class="edit_center">
    <h3>Add/Edit Answer Form</h3>
    <div class="registration">
        <div class="registration_left">
            <div class="registration_form">
                <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <input type="submit" value="Update">
                    </div>
                </form>
                </div>
		<br />
		<a href="{% url 'answer_list' question.pk %}"> Go back to answer list</a>
            </div>
        </div>
</div>
{% endblock %}
