<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ManageAccount</title>

<link href="css/style.css" rel="stylesheet" type="text/css"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
	<!---header--->
    <div class="header">
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt=""/></a>
        </div>
        <div class="signin">
            <ul>
                <li><a href="edit.html">Hello, {{ person_name }}</a></li>
                <li class="a"><h6>or</h6></li>
                <li class="b"><a href="index.html">Signout</a></li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="clear"> </div>
    </div>
<!-- start top_bg -->
<div class="top_bg">
<div class="main_top">
	<h4 class="style">Manage your account</h4>
</div>
</div>
<!-- start main -->
<div class="main_bg">
<div class="main">
	<div class="edit_center">
		<h3>Edit your account</h3>
		<p>Change your email address below.</p>
	<!-- start registration -->
	<div class="registration">
	<div class="registration_left">
		 <div class="registration_form">
		 <!-- Form -->
			<form id="registration_form" action="" method="post">
				<div>
					<label>
						<input placeholder="old password" type="password" tabindex="3" required="">
					</label>
				</div>
                <div>
                    <label>
                        <input placeholder="new password" type="password" tabindex="3" required="">
                            </label>
                </div>
                <div>
                    <label>
                        <input placeholder="retype password" type="password" tabindex="3" required="">
                            </label>
                </div>
				<div>
                    <input type="submit" value="Save" id="save-submit">
				</div>
                <div class="forget">
                    <a href="edit.html">back</a>
                </div>
			</form>
			<!-- /Form -->
		</div>
	</div>
	</div>
	<!-- end registration -->
	</div>
	
	<div class="clear"></div>
</div>
</div>
</body>
</html>