{% extends "rj2/base.html" %}
{% block head_title %}Course List{% endblock %}
{% block content %}

<div class="edit_center">
	<h3>Course List</h3>
    <div class="registration">
        <div class="registration_left">
            <div class="registration_form">
                <table class="showresult">
                    <tr>
                        <td>
                            Courses
                        </td>
                    </tr>
                    {% for course in object_list %}
					{% if course.is_active %}
                    <tr>
                        <td>
                    <a href="{% url 'register_course' course.pk %}">
                        Register for: {{ course.name }}
                    </a>
                        </td>
                    </tr>
					{% endif %}
                    {% endfor %}
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock %}
