<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends "rj2/base.html" %}
{% block head_title %}Course Info{% endblock %}
{% block content %}
        <!-- start main -->
        <div class="main_bg">
            <div class="main">
                <div class="edit_center">
                    <h3>Course Information</h3>
                    <!-- start registration -->
                    <div class="registration">
                        <div class="registration_left">
                            <div class="registration_form">
                                <!-- Form -->
                                <form id="registration_form" action="" method="post">
                                    <div>
                                        <label>
                                            Course Name:
                                        </label>
                                        <label>
						{{ course.name }}
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            Description:
                                        </label>
                                        <label>
						{{ course.description }}
                                        </label>
                                    </div>
				    {% for lc in linked_content %}
				    <div>
					    <label> {{ lc.URL }} <label>
				    </div>
				    {% endfor %}
				    <h3> Quizzes </h3>
				    {% for quiz in quizzes %}
					<li>
				    <a href="{% url 'take_quiz' quiz.pk %}">Take Quiz: {{ quiz.title }}</a>
					</li>
				    {% endfor %}


                                    </form>
                                <!-- /Form -->
                            </div>
                        </div>
                    </div>
                    <!-- end registration -->
                </div>
                {% endblock %}
                <div class="clear"></div>
            </div>
        </div>
