{% extends "rj2/base.html" %}
{% block head_title %}Edit Course{% endblock %}
{% block content %}

<div class="edit_center">
    <h3>Edit Course</h3>
    <p>Edit course information below.</p>
    <div class="registration">
        <div class="registration_left">
            <div class="registration_form">
                <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <input type="submit" value="Update">
                    </div>
                </form>
                </div>
		{% if object %}
		<a href="{% url 'quiz_list' object.pk %}"> View Quiz List </a>
		{% endif %}
            </div>
        </div>
</div>
{% endblock %}
