<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    {% extends "rj2/base.html" %}
    {% load staticfiles %}
    {% block head_title %}ManageAccount{% endblock %}
    {% block content %}
<!-- start main -->
<div class="main_bg">
<div class="main">
	<div class="edit_center">
		<h3>Manage Course</h3>
		<p>List all courses below.</p>
	<!-- start registration -->
	<div class="registration">
	<div class="registration_left">
		 <div class="registration_form">
		 <!-- Table -->
			<table class="showresult">
                <tr>
                    <td>Course Name</td>
                    <td>Instructor</td>
                    <td>Actions</td>
                </tr>
		{% for course in courses %}
		<tr>
		    <td> {{ course }} </td>
		    <td>
			    {{ course.instructors }} 
		    </td>
		    <td>
			    <a href="{% url 'edit_course' course.id %}">edit</a>
		    </td>
		 </tr>
		{% endfor %}
            </table>
			<!-- /Table -->
		</div>
	</div>
	</div>
	<!-- end registration -->
	</div>
	{% endblock %}
	<div class="clear"></div>
</div>
</div>
</body>
</html>
