<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ManageAccount</title>

<link href="css/style.css" rel="stylesheet" type="text/css"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
	<!---header--->
    <div class="header">
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt=""/></a>
        </div>
        <div class="signin">
            <ul>
                <li><a href="edit.html">Hello, smith@yahoo.com</a></li>
                <li class="a"><h6>or</h6></li>
                <li class="b"><a href="index.html">Signout</a></li>
                <div class="clear"></div>
            </ul>
        </div>
        <ul id="sddm">
            <li><a href="#">Home</a>
            </li>
            <li><a href="#">Course</a>
            </li>
            <li><a href="#">About us</a>
            </li>
        </ul>
        <div class="clear"> </div>
    </div>
<!-- start top_bg. -->
<div class="top_bg">
<div class="main_top">
	<h4 class="style">Manage your account</h4>
    <ul class="subneg">
        <li><a href="#">Manage account</a>
        </li>
        <li><a href="#">Add course</a>
        </li>
        <li><a href="#">Manage Course</a>
        </li>
    </ul>
</div>
</div>
<!-- start main -->
<div class="main_bg">
<div class="main">
	<div class="edit_center">
		<h3>Manage Course</h3>
		<p>List all courses below.</p>
	<!-- start registration -->
	<div class="registration">
	<div class="registration_left">
		 <div class="registration_form">
		 <!-- Table -->
			<table class="showresult">
                <tr>
                    <td>Course Name</td>
                    <td>Instructor</td>
                    <td>Time</td>
                </tr>
                <tr>
                    <td>Theory of Computation</td>
                    <td>James</td>
                    <td>11:00 - 12:00</td>
                    <td>
                        <input type="button" value="Delete" id="delete-submit">
                        <input type="button" value="Deprecate" id="deprecate-submit">
                        <input type="button" value="Edit" id="edit-submit">
                    </td>
                </tr>
                <tr>
                    <td>Theory of Computation</td>
                    <td>Ken</td>
                    <td>11:00 - 12:00</td>
                    <td>
                        <input type="button" value="Delete" id="delete-submit">
                        <input type="button" value="Deprecate" id="deprecate-submit">
                        <input type="button" value="Edit" id="edit-submit">
                    </td>
                </tr>
            </table>
			<!-- /Table -->
		</div>
	</div>
	</div>
	<!-- end registration -->
	</div>
	
	<div class="clear"></div>
</div>
</div>
</body>
</html>