<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends "rj2/base.html" %}
{% block head_title %}Edit Course{% endblock %}
{% block scripts %}
<script   language="javascript">
    var count= 0 ;
    function addDoc() {
        var newDiv =  "<div id=divUpload" + count +">"
        + " <input name='file' id=file" + count + " type=file size=50>"
        + " <a href=javascript:delUpload('divUpload" + count + "');>Delete</a>"
        + " </div>";
        count++;
        document.getElementById("uploadContent").insertAdjacentHTML("beforeEnd", newDiv);
    }

    function delUpload(diva) {
        count--;
        document.getElementById(diva).parentNode.removeChild(document.getElementById(diva));
    }

    var countlink = 0;
    function addLink() {
        var newDiv =  "<div id=divUpload" + countlink +">"
        + " Video Link: <input name='video' id=link" + countlink + " type=text size=50>"
        + " <a href=javascript:dellink('divUpload" + countlink + "');>Delete</a>"
        + " </div>";
        countlink++;
        document.getElementById("uploadLink").insertAdjacentHTML("beforeEnd", newDiv);
    }

    function dellink(diva) {
        countlink--;
        document.getElementById(diva).parentNode.removeChild(document.getElementById(diva));
    }
</script>
{% endblock %}
{% block content %}
<!-- start main -->
<div class="main_bg">
<div class="main">
	<div class="edit_center">
		<h3>Edit course information</h3>
		<p>Change course information below.</p>
	<!-- start registration -->
	<div class="registration">
	<div class="registration_left">
		 <div class="registration_form">
		 <!-- Form -->
			<form id="registration_form" action="" method="post">
			{% csrf_token %}
				{{ form.as_p }}
                <div>
                    <label>
                        <a href="javascript:addDoc()">Add Documents</a>
                        <div id="uploadContent">
                        </div>
                    </label>
                </div>
                <div>
                    <label>
                        <a href="javascript:addLink()">Add Video Link</a>
                        <div id="uploadLink">
                        </div>
                    </label>
                </div>
                <div>
                    <label>
                        <a href="{% url 'add_quiz' object.id %}">Add Quiz</a>
                    </label>
                </div>
                <div>
                    <label>
                        <a href="{% url 'quiz_list' object.id %}">Quiz List</a>
                    </label>
                </div>

                <div class="forget">
                    <a href="{% url 'manage_courses' %}">back</a>
                </div>
				<div>
					<input type="submit" value="Save" id="save-submit">
				</div>

			</form>
			<!-- /Form -->
		</div>
	</div>
	</div>
	<!-- end registration -->
	</div>
{% endblock %}
	<div class="clear"></div>
</div>
</div>
</body>
</html>
