<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends "rj2/base.html" %}
{% block head_title %}Edit Course{% endblock %}
{% block scripts %}
<script   language="javascript">
    var count= 0 ;
    function addDoc() {
        var newDiv =  "<div id=divUpload" + count +">"
        + " <input id=file" + count + " type=file size=50 name=upload>"
        + " <a href=javascript:delUpload('divUpload" + count + "');>Delete</a>"
        + " </div>";
        count++;
        document.getElementById("uploadContent").insertAdjacentHTML("beforeEnd", newDiv);
    }

    function delUpload(diva) {
        count--;
        document.getElementById(diva).parentNode.removeChild(document.getElementById(diva));
    }

    var countlink = 0;
    function addLink() {
        var newDiv =  "<div id=divUpload" + countlink +">"
        + " Video Link: <input id=link" + countlink + " type=text size=50 name=upload>"
        + " <a href=javascript:dellink('divUpload" + countlink + "');>Delete</a>"
        + " </div>";
        countlink++;
        document.getElementById("uploadLink").insertAdjacentHTML("beforeEnd", newDiv);
    }

    function dellink(diva) {
        countlink--;
        document.getElementById(diva).parentNode.removeChild(document.getElementById(diva));
    }
</script>
{% endblock %}
{% block content %}
<!-- start main -->
<div class="main_bg">
<div class="main">
	<div class="edit_center">
		<h3>Edit course information</h3>
		<p>Change course information below.</p>
	<!-- start registration -->
	<div class="registration">
	<div class="registration_left">
		 <div class="registration_form">
		 <!-- Form -->
			<form id="registration_form" action="" method="post">
				<div>
					<label>
                        Course Name:<input type="text" tabindex="3" required="" value="Theory of computation">
					</label>
				</div>
                <div>
                    <label>
                        Fee:<input type="text" tabindex="3" required="" value="Theory of computation">
                    </label>
                </div>
                <div>
                    <label>
                        Is Deprecated:<input type="checkbox" required="">
                    </label>
                </div>
                <div>
                    <label>
                        Is active:<input type="checkbox" required="">
                    </label>
                </div>
                <div>
                    <label>
                        Instructors:<select multiple="multiple" id="id_instructors" name="instructors">
                            <option value="1" selected="selected">ramble@admin.com</option>
                            </select>
                    </label>
                </div>
                <div>
                    <label>
                        <a href="javascript:addDoc()">Add Documents</a>
                        <div id="uploadContent">
                        </div>
                    </label>
                </div>
                <div>
                    <label>
                        <a href="javascript:addLink()">Add Video Link</a>
                        <div id="uploadLink">
                        </div>
                    </label>
                </div>
                <div>
                    <label>
                        <a href="addQuiz.html">Add Quiz</a>
                    </label>
                </div>
                <div>
                    <label>
                        Description:
                        <textarea abindex="3" required="">text for this course</textarea>
                    </label>
                </div>
                <div class="forget">
                    <a href="deleteCourse.html">back</a>
                </div>
				<div>
					<input type="submit" value="Save" id="save-submit">
				</div>

			</form>
			<!-- /Form -->
		</div>
	</div>
	</div>
	<!-- end registration -->
	</div>
{% endblock %}
	<div class="clear"></div>
</div>
</div>
</body>
</html>