<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends "rj2/base.html" %}
{% block head_title %}Home{% endblock %}
{% block content %}
<div class="content">
	<div class="text">	
		<h2>RJ2 Tutorial Solution</h2>
		<p>Help you to get better degree</p>
	</div>
</div>
<div class="footer-top">
	<div class="left">
        <h3>About Us</h3>
        <p> This webpage is created by Justin, Joey and Runjin which help students to get better degree. </p>
        <p class="a">RJ2 Software company: Justin Perez, Runjin Wang and Joseph Kirkpatrick</p>
        <p><a href="about.html">Learn More</a></p>
   </div>
   <div class="right">
	   <img src='rj2/images/a.jpg' alt="">
   </div>
{% endblock %}
   <div class="clear"> </div>
</div>


</body>
</html>
