{% extends "rj2/base.html" %}
{% block head_title %}Add/Edit Question{% endblock %}
{% block content %}

<div class="edit_center">
    <h3>Add/Edit Question Form</h3>
    <div class="registration">
        <div class="registration_left">
            <div class="registration_form">
                <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <input type="submit" value="Update">
                    </div>
                </form>
                </div>
		<a href="{% url 'question_list' quiz.pk %}"> Go back to Question List </a>
		{% if object %}
		<br />
		<a href="{% url 'answer_list' object.pk %}"> View Answer List</a>
		{% endif %}
            </div>
        </div>
</div>
{% endblock %}
