{% extends "rj2/base.html" %}
{% block head_title %}Question List{% endblock %}
{% block content %}

<div class="edit_center">
    <h3>Question List</h3>
    <div class="registration">
        <div class="registration_left">
            <div class="registration_form">
		    <ul> 
		    {% for question in object_list %}
		
		    <li>		<a href="{% url 'edit_question' question.pk %}">
			    {{ question.text }}
		</a></li>

		{% endfor %}
	</ul>
            </div>
	    <br />
        </div>
    </div>
</div>
{% endblock %}
