{% extends "rj2/base.html" %}
{% block head_title %}Add/Edit Quiz{% endblock %}
{% block content %}

<div class="edit_center">
    <h3>Add/Edit Quiz</h3>
    <div class="registration">
        <div class="registration_left">
            <div class="registration_form">
                <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <input type="submit" value="Update">
                    </div>
                    <div class="forget" >
                        <a href="{% url 'quiz_list' course.pk  %}">Go back to Quiz List for {{ object.course }}</a>
                        {% if object %}
                        <br />
                        <a href="{% url 'question_list' object.pk %}">Question List</a>
                        {% endif %}
                    </div>
                </form>
                </div>
            </div>
        </div>
</div>
{% endblock %}
