{% extends "rj2/base.html" %}
{% block head_title %}Course List{% endblock %}
{% block content %}

<div class="edit_center">
	<h3>Course List</h3>
    <div class="registration">
        <div class="registration_left">
            <div class="registration_form">
                <table class="showresult">
                    <tr>
                        <td>
                            Courses
                        </td>
                    </tr>
		    {% for course_registration in object_list %}   
            <tr>
                <td>
			        <a href="{% url 'course_detail' course_registration.course.pk %}">
			            {{ course_registration.course.name }}
                    </a>  -  
                </td>
            </tr>
            {% endfor %}
            </div>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
