{% extends "rj2/base.html" %}
{% block head_title %}Take Quiz{% endblock %}
{% block content %}

<div class="edit_center">
    <h3>Take Quiz</h3>
    <div class="registration">
        <div class="registration_left">
            <div class="registration_form">
		<form method="post">
			{% csrf_token %}
			<input type="hidden" name="quiz_id" id="quiz_id" value="{{ quiz.id }}"/>
		<p> 
		{% for question in questions %}
		{{ question.text }}
		<br />
		<select name="question_{{ question.id }}">
			{% for answer in question.answers.all %}
			<option value="{{ answer.id }}"> {{ answer.text }} </option>
			{% endfor %}
		</select>
		<br />

		{% endfor %}
		</p>
		<input type="submit" />
		</form>



            </div>
        </div>
    </div>
</div>
{% endblock %}
