<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-tra/Users/ramble0408/Desktop/rj2/rj2/templates/account/login.htmlnsitional.dtd">
{% extends "rj2/base.html" %}
{% block head_title %}Home{% endblock %}
{% block content %}
<!-- start main -->
<div class="main_bg">
<div class="main">
	<div class="login_left">
		<h3>new customers</h3>
		<p>If you don't have an account, please register now.</p>
		<div class="btn">
			<form>
				<input type="button"  onclick="location.href= '{% url 'account_signup' %}'" value="Register Now"/>
			</form>
		</div>
	</div>
	<div class="login_left">
		<h3>registered customers</h3>
		<p>if you have any account, please log in.</p>
	<!-- start registration -->
	<div class="registration">
	<div class="registration_left">
		 <div class="registration_form">
		 <!-- Form -->
			<form id="registration_form" action="{% url 'account_login' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
				<div class="forget">
					<a href="{% url 'account_reset_password' %}">forgot your password</a>
                    <input type="submit" value="sign in" id="register-submit">
				</div>
			</form>
			<!-- /Form -->
		</div>
	</div>
	</div>
	<!-- end registration -->
	</div>
    {% endblock %}
	<div class="clear"></div>
</div>
</div>

