<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Signin</title>
{% load staticfiles %}
<link href="{% static 'rj2/css/style.css' %}" rel="stylesheet" type="text/css"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
	<!---header--->
    <div class="header">
        <div class="logo">
            <a href="{% url 'rj2_homepage' %}"><img src="{% static 'rj2/images/logo.png' %}" alt=""/></a>
        </div>
        <div class="signin">
            <ul>
                <!--
                 {% if user.is_authenticated %}
                 <li><a href="#">Hello, {{ user }}</a></li>
                 <li class="b"></li>
                 {% else %}
                 --->
                <li><a href="{% url 'account_login' %}">Signin</a></li>
                <li class="a"><h6>or</h6></li>
                <li class="b"><a href="{% url 'account_signup' %}">Signup</a></li>
                <div class="clear"> </div>
                <!---{% endif %}--->
            </ul>
        </div>
        <ul id="sddm">
            <li><a href="?">Home</a>
            </li>
            <li><a href="#">Course</a>
            </li>
            <li><a href="#">About us</a>
            </li>
        </ul>
        <div class="clear"> </div>
    </div>
<!-- start main -->
<div class="top_bg">
<div class="main_top">
	<h4 class="style">create an account or login</h4>
</div>
</div>
<div class="main_bg">
<div class="main">
	<div class="login_left">
		<h3>new customers</h3>
		<p>If you don't have an account, please register now.</p>
		<div class="btn">
			<form>
				<input type="button"  onclick="location.href= '{% url 'account_signup' %}'" value="Resgiter Now"/>
			</form>
		</div>
	</div>
	<div class="login_left">
		<h3>registered customers</h3>
		<p>if you have any account, please log in.</p>
	<!-- start registration -->
	<div class="registration">
	<div class="registration_left">
		 <div class="registration_form">
		 <!-- Form -->
			<form id="registration_form" action="{% url 'account_login' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
				<div>
					<input type="submit" value="sign in" id="register-submit">
				</div>
				<div class="forget">
					<a href="#">forgot your password</a>
				</div>
			</form>
			<!-- /Form -->
		</div>
	</div>
	</div>
	<!-- end registration -->
	</div>
	<div class="clear"></div>
</div>
</div>

</body>
</html>
