<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Signup</title>

{% load staticfiles %}
<link href="{% static 'rj2/css/style.css' %}" rel="stylesheet" type="text/css"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
	<!---header--->
    <div class="header">
        <div class="logo">
		<a href="{% url 'rj2_homepage' %}"><img src="{% static 'rj2/images/logo.png' %}" alt=""/></a>
        </div>
        <div class="signin">
            <ul>
                 {% if user.is_authenticated %}
                 <li><a href="#">Hello, {{ person_name }}</a></li>
                 <li class="b"></li>
                 {% else %}
		 <li><a href="{% url 'account_login' %}">Signin</a></li>
                <li class="a"><h6>or</h6></li>
		<li class="b"><a href="{% url 'account_signup' %}">Signup</a></li>
                <div class="clear"> </div>
		{% endif %}
            </ul>
        </div>
        <ul id="sddm">
            <li><a href="#">Home</a>
            </li>
            <li><a href="#">Course</a>
            </li>
            <li><a href="#">About us</a>
            </li>
        </ul>
        <div class="clear"> </div>
    </div>
<!-- start top_bg -->
<div class="top_bg">
<div class="main_top">
	<h4 class="style">login or create an account</h4>
</div>
</div>
<!-- start main -->
<div class="main_bg">
<div class="wrap">
<div class="main">
	<div class="login_left">
		<h3>login customers</h3>
		<p>if you have any account with us, please log in.</p>
	<!-- start registration -->
	<div class="registration">
	<div class="registration_left">
		 <div class="registration_form">
		 <!-- Form -->
		 <form id="login_form" action="{% url 'account_login' %}" method="post">
			 {% csrf_token %}
				<div>
					<label>
						<input placeholder="email:" type="email" tabindex="3" required="">
					</label>
				</div>
				<div>
					<label>
						<input placeholder="password" type="password" tabindex="4" required="">
					</label>
				</div>						
				<div>
					<input type="submit" value="sign in" id="register-submit">
				</div>
				<div class="forget">
					<a href="{% url 'account_reset_password' %}">forgot your password</a>
				</div>
			</form>
			<!-- /Form -->
		</div>
	</div>
	</div>
	<!-- end registration -->
	</div>
	<div class="login_left">
		<h3>register new customers</h3>
		<p>Please finish the information below for registration.</p>
		<div class="registration_left">
        <div class="registration_form">
		 <!-- Form -->
			<form id="signup_form" action="{% url 'account_signup' %}" method="post">
				<!--<div>
					<label>
						<input placeholder="first name:" type="text" tabindex="1" required="" autofocus="">
					</label>
				</div>
				<div>
					<label>
						<input placeholder="last name:" type="text" tabindex="2" required="" autofocus="">
					</label>
				</div>
				<div>
					<label>
						<input placeholder="email address:" type="email" tabindex="3" required="">
					</label>
				</div>
				<div>
					<label>
						<input placeholder="password" type="password" tabindex="4" required="">
					</label>
				</div>						
				<div>
					<label>
						<input placeholder="retype password" type="password" tabindex="4" required="">
					</label>
				</div>
				-->
				{% csrf_token %}
				{{ form.as_p }}
                 {% if messages %}
                <p style="color:red">
		    	<div>
				<strong>Messages:</strong>
				<ul>
				{% for message in messages %}
					<li>{{message}}</li>
					{% endfor %}
				</ul>
			</div>
                </p>
		{% endif %}
		{% if redirect_field_value %}
		<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		{% endif %}
				<div>
					<input type="submit" value="create an account" id="register-submit">
				</div>
			</form>
			<!-- /Form -->
		</div>
	</div>
	</div>
	<div class="clear"></div>
</div>
</div>
</body>
</html>
